* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrappermain {
  flex: 1 1 auto;
}

._container {
  max-width: 1000px;
  margin: 0px auto;
}

@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("../fonts/SourceSansPro-SemiBold.eot");
  src: url("../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../fonts/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Source Sans Pro Light", sans-serif;
  color: #111;
  background-color: #f0f0f0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

._btn {
  display: block;
  padding: 0px 20px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #e0311e;
  border: 2px solid #e0311e;
  background: transparent;
  font-family: "Source Sans Pro Semibold", sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(220, 230, 230, 0.85);
  z-index: 70;
}
.header__body {
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px;
}
.header__logo {
  background: #e0311e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.header__logo:hover {
  opacity: 0.9;
}
.header__brand-slogan {
  flex: 1 1 auto;
  display: block;
  margin: 10px;
}
.header__brand {
  display: block;
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 24px;
}
.header__slogan {
  display: block;
  font-family: "Source Sans Pro Light", sans-serif;
  font-size: 20px;
}

.menu {
  display: flex;
}
.menu__body {
  display: flex;
}
.menu__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-size: 20px;
}
.menu__link {
  font-family: "Source Sans Pro Semibold", sans-serif;
  text-align: center;
  line-height: 100%;
}
.menu__link:hover {
  opacity: 0.8;
}
.menu__contact {
  font-family: "Source Sans Pro Semibold", sans-serif;
  display: block;
}
.menu__title {
  display: block;
  color: #e0311e;
}
.menu__subtitle {
  display: block;
  text-align: center;
}
.menu__icon {
  width: 70px;
  height: 70px;
  cursor: pointer;
}
.menu__line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: #e0311e;
}

.header__dropdown {
  position: fixed;
  width: 100vw;
  left: 0;
  top: -100vh;
  transition: 0.4s;
  overflow: hidden;
  background-color: rgba(220, 230, 230, 0.85);
  z-index: 60;
}
.header__dropdown._active {
  top: 70px;
}

.dropdown__body {
  display: block;
  width: 100vw;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
}

.dropdown__link {
  display: block;
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  font-family: "Source Sans Pro Semibold", sans-serif;
}

.main__banner {
  width: 100vw;
  height: 400px;
  overflow: hidden;
  background: #ccc url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center;
  background-size: cover;
}

.main {
  flex: 1 1 auto;
}

.footer {
  height: 400px;
  background: #ccc url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center;
  background-size: cover;
}

.footer__container {
  padding: 80px 5px;
}

.footer__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__title {
  display: block;
}

.footer__form {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=styles.css.map */