* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}
.wrappermain {
  flex: 1 1 auto;
}

._container {
  max-width: 1000px;
  margin: 0px auto;
}

@font-face {
  font-family: "Source Sans Pro Semibold";
  src: url("../fonts/SourceSansPro-SemiBold.eot");
  src: url("../fonts/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-SemiBold.woff") format("woff"), url("../fonts/SourceSansPro-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source Sans Pro Light";
  src: url("../fonts/SourceSansPro-Light.eot");
  src: url("../fonts/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SourceSansPro-Light.woff") format("woff"), url("../fonts/SourceSansPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Source Sans Pro Light", sans-serif;
  color: #111;
  background-color: #f5f5f5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

._btn {
  display: block;
  padding: 0px 20px;
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  color: #e0311e;
  border: 2px solid #e0311e;
  background: transparent;
  font-family: "Source Sans Pro Semibold", sans-serif;
  cursor: pointer;
}
._btn:hover {
  opacity: 0.6;
}

._phone-link {
  padding-left: 30px;
  background: url("../img/icons/phone.svg") 0 0 no-repeat;
  background-position: left center;
  background-size: 24px;
}

._email-link {
  padding-left: 30px;
  background: url("../img/icons/email.svg") 0 0 no-repeat;
  background-position: left center;
  background-size: 24px;
}

._pdf-link {
  padding-left: 30px;
  background: url("../img/icons/pdf.svg") 0 0 no-repeat;
  background-position: left center;
  background-size: 24px;
}

._youtube-link {
  padding-left: 30px;
  background: url("../img/icons/youtube.svg") 0 0 no-repeat;
  background-position: left center;
  background-size: 24px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #cdd;
  z-index: 70;
}
.header__body {
  height: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 5px 15px;
}
.header__logo {
  background: #e0311e;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.header__logo:hover {
  opacity: 0.6;
}
.header__brand-slogan {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  margin: 10px;
}
.header__brand {
  display: block;
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 24px;
}
.header__slogan {
  display: block;
  font-family: "Source Sans Pro Light", sans-serif;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  .header__slogan {
    display: none;
  }
}

.menu {
  display: flex;
  gap: 20px;
}
.menu__body {
  display: flex;
}
@media screen and (max-width: 800px) {
  .menu__body {
    display: none;
  }
}
.menu__list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
}
.menu__list:li {
  margin: 0px 10px;
}
.menu__link {
  font-family: "Source Sans Pro Semibold", sans-serif;
  text-align: center;
  line-height: 100%;
}
.menu__contact {
  font-family: "Source Sans Pro Semibold", sans-serif;
  display: block;
}
.menu__title {
  display: block;
  color: #e0311e;
}
.menu__subtitle {
  display: block;
  text-align: center;
}

/*  &__icon
 *      width: $header-height
 *      height: $header-height
 *      cursor: pointer
 *      display: flex
 *      flex-direction: column
 *      justify-content: center
 *      align-items: center
 *
 *      &:hover
 *          opacity: .6
 *
 *      &._active
 *          &__line
 *              background-color: yellow
 *
 *  &__line
 *     display: block
 *     width: 24px
 *     height: 3px
 *     background-color: $primary
 *     position: relative
 *     &::before
 *      content: ''
 *      position: absolute
 *      top: -10px
 *      left: 0
 *      width: 24px
 *      height: 3px
 *      background-color: $primary
 *
 *     &::after
 *      content: ''
 *      position: absolute
 *      top: 10px
 *      left: 0
 *      width: 24px
 *      height: 3px
 *      background-color: $primary
 * */
.header__dropdown {
  position: fixed;
  width: 100vw;
  top: 70px;
  left: 100vw;
  perspective: 100px;
  transition: left 0.4s;
  overflow: hidden;
  background-color: #cdd;
  z-index: 60;
}
.header__dropdown._active {
  left: 0;
}

.dropdown__body {
  display: block;
  padding: 0px 15px 30px;
  width: 100vw;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown__link {
  text-transform: uppercase;
  margin: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 40px;
  font-family: "Source Sans Pro Semibold", sans-serif;
}
.dropdown__link:hover {
  opacity: 0.6;
}
@media screen and (max-width: 500px) {
  .dropdown__link {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .dropdown__link {
    font-size: 14px;
  }
}

.menu__icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.menu__icon span,
.menu__icon::before,
.menu__icon::after {
  position: absolute;
  left: 50%;
  height: 5%;
  width: 50%;
  transition: all 0.5s ease 0s;
  background-color: #e0311e;
}

.menu__icon::before,
.menu__icon::after {
  content: "";
}

.menu__icon::before {
  top: 30%;
}

.menu__icon::after {
  bottom: 30%;
}

.menu__icon span {
  top: 50%;
  transform: scale(1) translateY(-50%);
}

.menu__icon._active span {
  transform: scale(0) rotate(-90deg);
}

.menu__icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translateY(-50%);
}

.menu__icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translateY(50%);
}

.main__banner {
  width: 100vw;
  height: 60vh;
  overflow: hidden;
  background: #ccc url("https://images.unsplash.com/photo-1496236436299-cde70e3587cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2057&q=80") no-repeat center;
  background-size: cover;
}

.main {
  flex: 1 1 auto;
  padding-bottom: 20px;
}

.main__separator {
  height: 100px;
  margin-top: 20px;
}

.separator-1 {
  background: #faa url("../img/icons/truck.png") no-repeat center;
}

.separator-2 {
  background: #faa url("../img/icons/asphalt.png") no-repeat center;
}

.section__container {
  padding: 80px 15px 15px;
  margin-top: -70px;
  display: flex;
  flex-direction: column;
}

.main-section-3 {
  background: url("../img/main/silage.png") no-repeat right;
  background-size: contain;
}
@media (max-width: 600px) {
  .main-section-3 {
    background-image: none;
  }
}
.main-section-3 .section__text {
  width: 60%;
}
@media (max-width: 600px) {
  .main-section-3 .section__text {
    width: 100%;
  }
}

.section__title {
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 24px;
  line-height: 40px;
  position: relative;
  color: #e0311e;
  padding-left: 20px;
  border-left: 4px solid #e0311e;
}

.footer {
  background: #ccc url("https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") no-repeat center;
  background-size: cover;
}

.footer__body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 15px 120px;
  color: #633;
}

.footer__title {
  display: block;
}

.footer__form {
  margin-bottom: 60px;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 50%;
}

.form__title {
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 20px;
  text-align: center;
  color: #633;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.form__item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #633;
  margin-bottom: 15px;
}

.form__label {
  width: 100%;
  font-family: "Source Sans Pro Semibold", sans-serif;
}

.form__input {
  width: 100%;
  padding: 5px 15px;
}

.form__button {
  width: 100%;
}

.menu-footer__item {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}
.menu-footer__item:hover {
  opacity: 0.6;
}

.menu-footer__link {
  font-family: "Source Sans Pro Semibold", sans-serif;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
}/*# sourceMappingURL=styles.css.map */