@mixin bg-concrete {
    background: #ccc url('https://images.unsplash.com/photo-1579492450119-80542d516179?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80') no-repeat center;
    background-size: cover;
}

@mixin banner {
    background: #ccc url('https://images.unsplash.com/photo-1496236436299-cde70e3587cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2057&q=80') no-repeat center;
    background-size: cover;
}

@mixin bg-silage {
    background: url('../img/main/silage.png') no-repeat right;
    background-size: contain;
}

@mixin truck {
    background: #faa url('../img/icons/truck.png') no-repeat center;
}

@mixin asphalt {
    background: #faa url('../img/icons/asphalt.png') no-repeat center;
}

