.footer
    background: linear-gradient($bg-main, $bg-footer)

.footer__container
    height: 150px

.footer__body 
    display: flex
    flex-direction: columns
    align-items: center

.footer__title 
.footer__form 
.footer__menu 
.menu-footer
.menu-footer__list
.menu-footer__item 
.menu-footer__link
