$header-height: 70px
$header-body-height: 60px
    
.header 
    position: fixed
    top: 0
    left: 0
    width: 100vw
    background-color: $bg-header
    z-index: 70

    &__body
        height: $header-height
        overflow: hidden
        display: flex
        align-items: center
        padding: 5px

    &__logo 
        background: $primary
        width: $header-body-height
        height: $header-body-height
        border-radius: 50%

        &:hover
            opacity: .9

    &__brand-slogan
        flex: 1 1 auto
        display: block
        margin: 10px

    &__brand
        display: block
        +bold
        font-size: 24px

    &__slogan 
        display: block
        +light
        font-size: 20px

.menu
    display: flex
    gap: 20px

    &__body
        display: flex

        @media screen and (max-width: 800px)
            display: none

    &__list
        display: flex
        gap: 20px
        align-items: center
        justify-content: flex-end
        font-size: 20px

        &:li
            margin: 0px 10px

    &__link
        +bold
        text-align: center
        line-height: 100%

    &__contact
        +bold
        display: block

    &__title
        display: block
        color: $primary

    &__subtitle
        display: block
        text-align: center

    &__icon
        width: $header-height
        height: $header-height
        cursor: pointer
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        &:hover
        &__line
            background-color: yellow

    &__line
       display: block
       width: 30px
       height: 3px
       background-color: $primary
       margin: 5px 0px


// ---DROPDOWN-------------

.header__dropdown
    position: fixed
    width: 100vw
    top: $header-height
    left: 100vw
    perspective: 100px
    transition: left .4s
    overflow: hidden
    background-color: $bg-header
    z-index: 60

    &._active
        left: 0

        
.dropdown__body
    display: block
    padding: 0px 15px 30px
    width: 100vw

.dropdown__list 
    display: flex
    flex-direction: column
    align-items: center

.dropdown__link
    text-transform: uppercase
    margin: 10px
    text-align: center
    font-size: 20px
    line-height: 40px
    +bold
    position: relative

    &::affter
        position: absolute
        content: ""
        left: 0
        bottom: 0
        width: 90px
        height: 20px
        background-color: $text-color


